:root {
	--white: #f9f4f4;
	--blue: #26547c;
	--black: #111418;
	--gray: #2f2f2f;
	--green: #28D766;
	--red: #cd224a;
	--yellow: #ffd166;
	--purple: #914ecf;
	--sitewidth: 100%;
}




* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
	width: var(--sitewidth);
	background-color: var(--white);
}


/* header */
header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	font-size: 25px;
	margin: 0 auto;
	background-color: var(--green);
}

.header__logo {
	cursor: pointer;
	max-width: 5%;
}

.nav__list {
	list-style: none;
}

.nav__list li {
	display: inline-block;
	padding: 0 20px;
}

.nav__list button {
	text-decoration: none;
	transition: all 0.3s ease 0s;
	padding: 9px 25px;
	background-color: var(--blue);
	box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
	color: var(--white);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	text-decoration: none;
	width: 12vw;
	height: 5vh;
}

.nav__list li a:hover {
	color: var(--red);
}

.header__cta {

	padding: 9px 25px;
	background-color: var(--blue);
	box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
	color: var(--white);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	text-decoration: none;
	width: 6vw;
	height: 5vh;
}



@media screen and (max-width: 700px) {
header  {
	flex-direction: column;
}

header * {
	margin: .2em 0;
	transition-duration: 1s;
}

.nav__list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;;
	width: 100%;
	
}

.nav__list button{
	width: 90vw;
	height: 8vh;

}

.nav__list li {

}

.header__cta {
	margin: 1em;
	border-radius: 2px;
	width: 90vw;
	height: 8vh;
}

.header__logo {
	display: none;
}

}

/* ============== */

.hero {
	background-image: url("~/public/images/misc/stars.jpg");
	color: var(--green);
	font-size: 3em;
	text-align: center;
	/* Parallax Effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

.hero__title {
	font-size: 5em;
}

.hero__text {
	font-size: 1em;
}


.main__section {

	font-size: 20px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Introduction */
.intro {
	height: 100%;
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
}

.intro__wrapper {
	text-align: left;
}

.intro__title {
	font-size: 5em;
	color: var(--red);
	margin: 1em;
}

.intro__text {
	font-size: 1.5em;
	margin: 3em;
}

.intro img {
	max-height: 70%;
	max-width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 20px;
	margin: 3em;	
}

/* Shop */
.shop {
	flex-direction: row;
	text-align: center;
	justify-content: space-around;
}

.shop__title {
	font-size: 5em;
	color: var(--purple);
	margin: 1em;
}

.shop__text {
	font-size: 1.5em;
	margin: 3em;
}

/* Contact */

.contact {
	justify-content: center;
}

.contact__title {
	font-size: 5em;
	color: var(--blue);
}

.contact__text {
	padding: 3em;
}

/* SHOP PAGE STARTS HERE */

.product__main {
	font-size: 20px;
	display: inline;
	text-align: center;
}

.main__title {
	margin: 1em;
	font-size: 3em;
	color: var(--purple);
}

.product__list {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 3em;
}

.list__item {
	font-size: 1vw;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	text-align: center;
	list-style-type: none;
	margin: 1em;
	min-width: 400px;
	border-radius: 16px;
	max-width: 350px;
}

.list__item:hover {
	transform: scale(1.1);
	animation: big linear 0.2s;

}

.item__image {
	width: 100%;
	border-top: var(--purple) solid 4px;
}

.item__wrapper {
	padding: 1me;
}


@media screen and (max-width: 700px) {
	.product__list {
		width: 100%;
		margin: 0;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
	.list__item {
		font-size: 1em;
		border-radius: 0;
		width: 100vw;
		margin: .5em 0;
		display: flex;
		flex-direction: row;

	}
	.list__item:hover {

	}
	.item__image {
		max-width: 20vw;
	}

	.item__wrapper {
		width: 100%;
	}
}

/* Contact*/


.form__title {
	margin: 1em;
	font-size: 4vw;
	color: var(--blue);
}

.form__main form {
	font-size: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1.5);
	border: solid 10px var(--blue);
	background-color: var(--gray);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-content: center;
	width: 25%;
	min-width: 50%;
	height: 65%;
	padding: 1em;
}

.form__image {
	background-image: url("~/public/images/misc/NullLogo.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin: auto;
	min-width: 20vw;
	height: 10em;
	width: 99%;
}

.form__main form label {
	display: none;
}


.form__main form input,
#message {
	margin: 2em 0;
	padding: .5em;
	background-color: unset;
	border: none;
	border-bottom: 2px solid var(--blue);
	color: var(--white);
}


.form__main form input::placeholder,
#message::placeholder {
	color: var(--white);
	font-size: 1.5em;
}


#message {
	border-radius: 5px;
	border: 2px solid var(--blue);
	resize: none;
	color: var(--white);
}

#submit {
	width: 10em;
	padding: 1em 2em;
	background-color: var(--blue);
	margin: 0 auto;
	transition-duration: 1s;
	color: var(--white);
}

#submit:hover {
	background-color: #48a0ee;
}


@media screen and (max-width: 700px) {
	.form__title  {
		font-size: 10vw;
	}

	.form__image {
		display: none;
	}

	.form__main form{
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}

	.form__main form input {
		width: 100%;
	}

	.form__main form textarea {
		width: 100%;
	}

}
/* Footer */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 30px 10%;
	background-color: var(--green);
	font-size: 25px;
	margin: 1em 0;
}

.footer__list li {
	margin: 0 4em;
	display: inline-block;
}

.footer__list li a img {
	height: 3em;
}

@media screen and (max-width: 700px) {
	.footer__list li {
		display: flex;
		flex-direction: row;
		margin: 1em;
	}
}


/* Dividers */


.divider {
	position: relative;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

.div-arrow-down:after {
	content: "";
	position: absolute;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: var(--white);
	border-bottom: 1px solid rgb(48, 49, 51);
	border-right: 1px solid rgb(48, 49, 51);
}

/* Buttons */
.btn {
	display: inline-block;
	padding: 0.7em 1.4em;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.15em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	color: #FFFFFF;
	background-color: #3369ff;
	box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
	text-align: center;
	position: relative;
}

.btn--purple {
	background-color: var(--purple);
	color: var(--white);
}

.btn--blue {
	background-color: var(--blue);
	color: var(--white);
}


a.btn:active {
	box-shadow: none;
	top: 0.1em;
}


.terminal::after {
	content: 'c';
	contain: none;
	animation: blink 2s linear infinite;
	background-color: var(--green);
}

.terminal--blue::after {
	background-color: var(--blue);
}

.terminal--purple::after {
	background-color: var(--purple);
}


@keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 0.7;
	}

	100% {
		opacity: 0;
	}
}

@keyframes big {
	0% {
		transform: scale(1.0);
		animation-play-state: paused;
	}

	50% {
		transform: scale(1.05);

	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}

	100% {
		transform: scale(1);
	}
}
